body{
    color:#40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather',serif;

}
h1{
    
    color: #66BFBF;
    font-family: 'Sacramento',cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;   
}

h2{
    color: #66BFBF;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color:#11999E;
    font-family: "Montserrat", sans-serif;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    border-color:#bce3e3;
    background-color:white;
    width: 3%;
   
}

.topContainer{
    background-color: #EAF6f6;
    position: relative;
    padding-top: 130px;
}
.middle-container{
    margin:100px auto 
}
.intro{
    width:32%;
    margin: auto;
    line-height: 2;
}
.bottom-container{
    padding: 40px 0 20px;
    background-color:#66BFBF;
}
.contact-me{
    width:34%;
    margin: 40px auto 60px;
}
.end-description{
    padding-bottom: 60px;
}
a{
    color:#107e82;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color:#EAF6f6
}
.name{
    color:#EAF6f6;
    font-size: 0.75rem;
    padding:20px 0;
}


.profile-img{
    width:20%;
}




.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2; 
}

.webdesign-img{
    width:25%;
    float:left;
    padding-right: 30px;
}
.volleyball-img{
    width:25%;
    float: right;
    padding-left:30px ;
}

.bottom-cloud{
    position:absolute;
    left: 350px;
}
.top-cloud{
    position:absolute;
    right: 350px;
    top: 60px;
}


.btn {
    background: #11Cdd4;
    background-image: -webkit-linear-gradient(top, #11Cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11Cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11Cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11Cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11Cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }